{% extends 'just_choose/base.html' %}
{% load static %}

{% block body_block %}

insert here wheel animation (on one side) and results (restaurant, plus random item
 if superchosen on the other side of the page)
 
{% endblock %}


<!-- pre-existing version
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <script src="js/scripts.js"></script>
</body>
</html>

-->
